#appearance:hover {
    cursor: pointer;
}
#title {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    background-color: rgb(40, 40, 40);
}
body {
    background-color: rgb(21, 21, 21);
    color: rgb(219, 219, 219);
}
#modelImg {
    transform: scaleX(-1) translate(-50%, -50%);
    position: absolute;
    top: 59.5%;
    left: 71%;
    height: 600px;
}
#shopIcon {
    font-size: 40px;
    font-family: 'Merriweather Sans', sans-serif;
    position: absolute;
    top: 40%;
    left: 6%;
}
#shopBtn {
    font-size: 30px;
    width: 260px;
    font-family: 'Merriweather Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 16%;
}
#shopBtn:hover {
    cursor: pointer;
}
#validCurrenciesText {
    font-size: 40px;
    position: absolute;
    font-family: 'Merriweather Sans', sans-serif;
}
#btc {
    width: 100px;
    position: absolute;
    top: 20%;
    left: 0%;
}
#xrp {
    width: 107.5px;
    position: absolute;
    top: 20%;
    left: 7%;
}
/* Drop down navbar */
.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    position: absolute;
    top: 6%;
    right: 0%;
    transform:translate(-50%, -50%);
}
.line {
    width: 30px;
    height: 3px;
    background-color: rgb(219, 219, 219);
    margin: 5px 0;
}
.menu-items {
    display: none;
    position: absolute;
    top: 80px;
    right: 0%;
    bottom: 0;
    height: auto;
    padding: 10px;
    border-color: rgb(219, 219, 219);
}
.menu-items.show {
    display: block;
}

.menu-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    margin-bottom: 10px;
}

.menu-items a {
    color: #333;
    text-decoration: none;
}
.menu-items {
    z-index: 999;
}

/* Basket */
#basketCountDiv {
    position: absolute;
    top: 4%;
    right: 6%;
    font-size: 25px;
    display: inline-block;
}
#basketCount {
    display: inline-block;

}

/* Main page products */
#sectList {
    position: absolute;
    bottom: -80%;
    left: 14%;
    transform: translate(-50%, -50%);
}
.list-item {
    position: relative;
    width: 400px;
    height: 200px;
}
.list-title {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 20px;
}
.list-image {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.list-desc {
    position: absolute;
    top: 30%;
    left: 75%;
    white-space: none;
    overflow: hidden;
    transform: translate(-50%, -50%);
    display: none;
}
.list-price {
    position: absolute;
    top: 80%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;  
}
#list {
    list-style: none;
    position: relative;
}

/* Rose-handbag.html */
#roseHandbagImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
#roseHandbagName {
    position: absolute;
    top: 18%;
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#roseHandbagDescription {
    position: absolute;
    top: 22%;
    width: 400px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#roseHandbagPrice {
    position: absolute;
    top: 80%;
    left: 65%;
    font-size: 40px;
    font-weight: bold;
}
#addToCart {
    font-size: 20px;
}
#addToCart:hover {
    cursor: pointer;
}
#quantityAdjust {
    position: absolute;
    top: 85%;
    left: 43%;
}

/* Checkout Page */
#sectlist1 {
    position: absolute;
    top: 30%;
    left: 14%;
    transform: translate(-50%, -50%);
}
#checkoutList {
    position: relative;
    width: 400px;
    height: 200px;
    list-style: none;
}
.list-titleC {
    position: relative;
    top: 10%;
    left: 45%;
    font-size: 20px;
}
.list-imageC {
    position: relative;
    top: -50%;
    left: 0%;
    width: 175px;
}
.list-descC {
    position: relative;
    top: 20%;
    left: 15%;
    white-space: none;
    overflow: hidden;
    display: none;
}
.list-priceC {
    position: relative;
    top: 3%;
    left: 45%;
    font-size: 20px;
    font-weight: bold;  
}
.list-quantityC {
    position: relative;
    top: -68%;
    left: 70%;
    font-size: 20px;
}
.checkout-single { 
    position: relative;
    text-align: center;
    top: 35%;
    left: 50%;
    width: 32px;
    height: 32px;
    line-height: 32px;
}
.checkout-single:hover {
    cursor: pointer;
    font-size: larger;
}
#clearAllCheckout {
    position: absolute;
    font-size: 40px;
    top: 12%;
    left: 30%;
}
#clearAllCheckoutText {
    position: absolute;
    font-size: 20px;
    top: 14.5%;
    left: 33%;
}
#clearAllCheckout:hover {
    font-size: 45px;
    cursor: pointer;
}
#checkoutTotalPrice {
    font-size: 40px;
}
#checkoutBtn {
    font-size: 20px;
    width: 400px;
    height: 30px;
    background-color: orange;
    border-color: orange;
}
#checkoutBtn:hover {
    cursor: pointer;
}

/* Sign in page */
#signInForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#signIn {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#createAccountOption {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Log in page */
#LogIn {
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#signUpForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#signInSymbol {
    position: absolute;
    top: 6%;
    left: 88%;
    transform: translate(-50%, -50%);
    font-size: 40px;

}

