<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <script src="{{ url_for('mainScript') }}"></script>
    <link rel="stylesheet" href="{{ url_for('mainStyle') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@700&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@700&family=Merriweather+Sans&family=Pacifico&display=swap" rel="stylesheet">

    <title>main</title>
</head>
<body>
    <div id="basketCountDiv"><i class="fas fa-shopping-cart" id="checkoutSymbol"></i><div id="basketCount">0</div></div>
    <i id="signInSymbol"></i>
    <header id="title">E-Commerce Template</header>
    <div class="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="menu-items">
        <ul>
        <li class="item" id="home">Home</li>
            <li class="item">About Us</li>
            <li class="item">Contact Us</li>
            <li id="appearance">Light Mode</li>
            <li id="sign-in">Sign In</li>
        </ul>
    </div>



{% block body %}
<img id="modelImg", src="/static/model.png" alt="model">
<!--Additional Valid Currencies-->
<div>
    <header id="validCurrenciesText">We <span style="color: rgb(151, 31, 31)">support</span>:</header>
    <img id="btc" src="/static/btc.png" alt="btc">
    <img id="xrp" src="/static/xrp.png" alt="xrp">
</div>
<!--Shop Access-->
<div>
    <section id="shopIcon"><header>New <span style="color: rgb(151, 31, 31)">Discounts</span> available daily!</header></section>
    <section><button id="shopBtn"><a href="handbags">Shop Now</a></button></section>
</div>
{% endblock %}
</body>
</html>