{% extends 'main.html' %}
{% block body %}
<body>
    <div>
        <img src="/static/handbag.png" id="roseHandbagImage">
    </div>
    <div>
        <header id="roseHandbagName">Rose Handbag</header>
    </div>
    <p id="roseHandbagDescription">Introducing our exquisite Rose Handbag, a stunning accessory that is perfect for adding a touch of elegance to any outfit. This luxurious handbag is crafted from high-quality materials that ensure durability and longevity.<br>

        Featuring a vibrant rose motif, this bag is a true work of art that showcases exceptional craftsmanship. The intricate detailing and bold colors make it a standout piece that is sure to turn heads wherever you go.<br>
        
        With its spacious interior and multiple compartments, this handbag provides ample space for all your essentials. Whether you're running errands, attending a business meeting, or going out for the evening, this handbag is the perfect companion.<br>
        
        The comfortable straps allow for easy carrying, while the sturdy construction ensures that your belongings are always safe and secure.<br>
        
        Don't miss out on the chance to own this stunning piece of art. Order your Rose Handbag today for only $67.99 and experience the beauty and functionality of this timeless accessory.</p>

    <div>
        <header id="roseHandbagPrice">$67.99</header>
        <div class="fas fa-trash-alt.checkout-single" id="clearCart"></div>
    </div>
    <div id="quantityAdjust">
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" min="1" value="1">
        <button type="button" id="increaseQuantBtn" onclick="increaseQuantity()">+</button>
        <button type="button" id="decreaseQuantBtn" onclick="decreaseQuantity()">-</button>
        <i class="fas fa-shopping-cart" id="addToCart"></i>
    </div>


    <script>
        
    </script>
</body>
{% endblock %}